/*------------Стили блоков выравнивания-------*/
*{
    margin: 0;
    padding: 0;
}
.global_wrapper{
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    min-width: 1100px;
    position: relative;
    overflow: hidden;
}
.wrapper{
    width: 100%;
    max-width: 1920px;
    min-width: 1100px;
    display: table;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0 auto;
}
.container{
    margin: 0 auto;
    width: 960px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.right{
    float: right;
}
.left{
    float: left;
}
.cl{
    clear: both;
}
/*===============================================*/
