/*------------Стили не коректного ввода-----------*/
input[type='text'].incorrect{
    border-color: #ed1f24;
    color: #ed1f24;
}
input[type='tel'].incorrect{
    border-color: #ed1f24;
    color: #ed1f24;
}
/*=================================================*/
/* Базовые стили модального окна  */
/* Слой затемнения */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 101;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup { 
    margin: auto;
    display: block;
    left: 0; right: 0;
    opacity: 0;
/* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
	top: 0;
    visibility: hidden;
    z-index: 102;
}
.overlay:target+.popup {
    top: 20%;
    opacity: 1;
    visibility: visible;
}