*{
    font-family: "HelveticaNeueCyr";
}
.header{
    height: 90px;
}
.header>.left{
    height: 90px;
}
.header .logo_container{
    width: 180px;
    height: 39px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 0 0 0;
}
.header .left .txt_container{
    font-size: 14px;
    font-family: "HelveticaNeueCyr";
    color: rgb( 3, 130, 129 );
    font-weight: 500;
    text-align: left;
    margin: 5px 0 0 18px;
}
.header .right{
    margin: 10px 0 0 0;
}
.header .right .tx1{
      font-size: 26px;
      font-family: "HelveticaNeueCyr";
      color: rgb( 15, 104, 120 );
      text-align: right;
      font-weight: normal;
      padding: 5px 15px 5px 0;
      border-right: solid 1px #c8c8c8;
      margin: 0 15px 0 0;
}
.header .right .tx2{
    
}
.header .right .tx2 p{
      font-size: 30px;
      font-family: "HelveticaNeueCyr";
      color: rgb( 0, 0, 0 );
      line-height: 40px;
      text-align: right;
}
.header .right .tx2 a{
      font-size: 21px;
      font-family: "HelveticaNeueCyr";
      color: rgb( 40, 133, 174 );
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      line-height: 20px;
      float: right;
}
.dv1{
    position: relative;
    height: 565px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/bg1.jpg);
}
.dv1 .title_container{
    
}
.dv1 .title_container p{
    font-size: 27px;
      font-family: "HelveticaNeueCyr";
      color: rgb( 255, 255, 255 );
      text-align: left;
      font-weight: 400;
      line-height: 1;
      padding: 40px 0 0 0;
}
.dv1 .title_container p span{
    font-weight: 700;
    font-size: 36px;
}
.dv1_form_wrapper{
    float: right;
    padding: 10px 0 0 0;
    
}
.top_form_wrapper{
    background-color: #038281;
    border-radius: 5px;
    border: solid 7px #fff;
    width: 350px;
}
.top_form_wrapper .top_form_container{
    width: 265px;
    margin: 0 auto;
    padding: 15px 0 13px 0;
}
.top_form_wrapper .form_title{
    font-size: 22px;
    font-family: "HelveticaNeueCyr";
    color: rgb( 255, 255, 255 );
    text-align: left;
    font-weight: 400;
}
.top_form_wrapper .form_title span{
    font-weight: 700;
    text-transform: uppercase;
}
.top_form_wrapper ul{
    margin: 0;
    padding: 20px 0;
}
.top_form_wrapper ul li{
    list-style: none;
    font-size: 16px;
    font-family: "HelveticaNeueCyr";
    color: rgb( 255, 255, 255 );
    text-align: left;
    padding: 0 0 0 30px;
    position: relative;
    line-height: 21px;
    padding-bottom: 4px;
}
.top_form_wrapper ul li:before{
    content: '';
    position: absolute;
    display: block;
    left: 0px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
}
.top_form_wrapper label{
      font-size: 12px;
      font-family: "Verdana";
      color: rgb( 255, 255, 255 );
      text-align: left;
      display: block;
      padding-bottom: 10px;
}
.top_form_wrapper input[type=text], .top_form_wrapper input[type=tel]{
    display: block;
    outline: none;
    width: 245px;
    padding: 0 5px;
    height: 35px;
    line-height: 35px;
    font-family: "HelveticaNeueCyr";
    margin-bottom: 16px;
}
.top_form_wrapper input[type=submit]{
      font-size: 20px;
      color: rgb( 255, 255, 255 );
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 1px 1.732px 0px rgb( 178, 101, 0 );
      outline: none;
      display: block;
      background-color: transparent;
      border: none;
      width: 258px;
      height: 42px;
      background-image: url(../img/frm_btn.png);
      background-position: 0 0;
      cursor: pointer;
}
.top_form_wrapper input[type=submit]:hover{
    background-position: 0 -42px;
}
.top_form_wrapper input[type=submit]:active{
    background-position: 0 -84px;
}
.top_form_wrapper .bot_form{
    padding-top: 17px;
}
.top_form_wrapper .bot_form .img_container{
    background-image: url(../img/zam.png);
    width: 60px;
    height: 28px;
    background-position: center;
    background-repeat: no-repeat;
}
.top_form_wrapper .bot_form .form_txt{
      font-size: 12px;
      font-family: "Verdana";
      color: rgb( 255, 255, 255 );
      text-align: left;
}

.dv6{
    padding-bottom: 30px;
    background-image: url(../img/bg2.jpg);
}
.dv6 h4{
      font-size: 36px;
      color: rgb( 19, 99, 125 );
      font-weight: bold;
      text-align: center;
      padding: 60px 0 40px 0;
}
.dv6 ul{
    
}
.dv6 ul li{
    list-style: none;
    margin-bottom: 45px;
}
.dv6 ul li:last-child{
    
}
.dv6 ul li .img_container{
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 60px 0 25px;
}
.dv6 ul li .main_content{
    width: 540px;
}
.dv6 ul li .main_content .title{
  font-size: 18px;
  color: rgb( 38, 38, 38 );
  font-weight: 700;
  text-align: left;
  line-height: 1.2;
}
.dv6 ul li .main_content .title span{
    font-weight: 400;
}
.dv6 ul li .main_content .content_otz{
    position: relative;
    padding-top: 15px;
     font-size: 14px;
    color: rgb( 4, 7, 7 );
     text-align: left;
}
.dv6 ul li .main_content .content_otz:before{
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 0px;
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.dv6 ul li .main_content .content_otz:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0px;
    width: 20px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
}
.dv6 ul li .main_content .nex:after{
    left: 220px;
    bottom: -15px;
}
.dv6 ul li .main_content .per:after{
    left: 490px;
    bottom: -15px;
}
.dv8{
    height: 886px;
}
.short-dv8{
    height: 443px;
}
.dv8 h4{
    padding: 55px 0 50px 0;
  font-size: 36px;
  color: rgb( 35, 112, 139 );
  font-weight: bold;
  text-align: center;
}
.dv8 ul{
    display: table;
    margin: 0 auto;
}
.dv8 ul li{
    float: left;
    list-style: none;
    margin-bottom: 70px;
    margin-right: 80px;
}
.dv8 ul li:nth-child(2n){
    margin-right: 0px;
}
.dv8 ul li .bt{
    width: 199px;
    margin-right: 15px;
}
.dv8 ul li .content{
    width: 180px;
}
.dv8 ul li .img_container{
    width: 196px;
    height: 222px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.dv8 ul li a{
    height: 40px;
    display: none;
}
.dv8 ul li a:hover{
    background-position: 0 -40px;
}
.dv8 ul li a:active{
    background-position: 0 -80px;
}
.dv8 ul li .title{
  font-size: 18px;
  color: rgb( 70, 70, 70 );
  font-weight: 700;
  text-align: left;
  padding-bottom: 12px;
}
.dv8 ul li p{
  font-size: 14px;
  color: rgb( 70, 70, 70 );
  padding-bottom: 22px;
}
.dv13{
    background-color: #e1e1e1;
}
.dv13 h4{
  font-size: 32px;
  color: rgb( 55, 55, 55 );
  text-align: center;
  padding: 55px 0 40px;
  font-weight: 400;
}
.dv13 h4.row2{
    padding: 0 0 40px;

}
.dv13 p{
    color: #373737;
  font-size: 32px;
  color: rgb( 55, 55, 55 );
  text-align: center;
  padding-bottom: 85px;
}
.dv13 p span{
    color: #222222;
}
.dv14{
    width: 100%;
    height: 555px;
    background-image: url(../img/bg3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.dv14 .map{
    width: 960px;
    height: 555px;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -960px;
}
.bot_formm{
    background-color: #00fffc;
    width: 280px;
    border-radius: 5px;
    border: solid 7px #fff;
    padding-left: 25px;
    padding-right: 5px;
}
.bot_formm .title_form{
      font-size: 28px;
      color: rgb( 37, 37, 37 );
      font-weight: bold;
      text-align: left;
      padding: 28px 0;
}
.bot_formm label{
  font-size: 12px;
  font-family: "Verdana";
  color: rgb( 37, 37, 37 );
  text-align: left;
  display: block;
  padding-bottom: 8px;
}
.bot_formm input[type=text], .bot_formm input[type=tel]{
    width: 245px;
    height: 35px;
    display: block;
    padding-left: 10px;
    line-height: 35px;
    margin-bottom: 15px;
}
.bot_formm input[type=submit]{
  font-size: 20px;
  color: rgb( 255, 255, 255 );
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1.732px 0px rgb( 178, 101, 0 );
  display: block;
  width: 258px;
  height: 42px;
  line-height: 40px;
  outline: none;
  background-color: transparent;
  border: none;
  background-position: 0 0;
  background-image: url(../img/btn.png);
  margin-top: 30px;
  cursor: pointer;
}
.bot_formm input[type=submit]:hover{
    background-position: 0 -42px;
}
.bot_formm input[type=submit]:active{
    background-position: 0 -84px;
}
.bot_formm .bot_info_form{
  font-size: 18px;
  color: rgb( 37, 37, 37 );
  font-weight: bold;
  text-align: center;
  padding: 30px 0 35px;
}
.dv14 .bot_form_wrapper{
    float: right;
    padding: 5px 10px 0 0;
}
.header .email{
  font-size: 24px;
  font-family: "Arial";
  color: rgb( 34, 34, 34 );
  text-align: right;
  padding-bottom: 5px;
}
.spas{
    background-color: #ffffff;
    padding: 130px 0 140px 0;
    width: 390px;
}
.spas .title{
    font-size: 36px;
    font-family: Arial;
    font-weight: bold;
    color: #00c2c0;
    text-align: center;
}
.spas .title span{
    font-size: 30px;
    font-weight: normal;
}
.spas p{
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    color: #252525;
    line-height: 40px;
}
textarea {
    padding-left: 10px;
    width: 245px;
}
.coord-x, .coord-y{
    display: none;
    visibility: hidden;
}
#popup-map{
    width: 600px;
    height: 400px;
    display: none;
    overflow: hidden;
}
.object {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.zapis {
    color: #fff;
    font-size: 20px;
}
label.error{
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
input.error, textarea.error{
    background-color: pink;
}
.hidden{
    display: none;
    visibility: hidden;
}
.variant {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
    padding-left: 40px;
}
.wrapper.dv3.protez-page {
    background-size: auto 100%;
}
.variant-1 .variant {
    font-size: 26px;
    line-height: 40px;
}
.variant-1 {
    margin: 0 auto;
    width: 54%;
}
.cm_logo {
    margin-top: 20px;
}
.no-bg{
    background: none;
}
ul.vinir-advantages > li {
    min-height: 350px;
}

.vinir-ideal-for ul > li {
    margin-bottom: 20px;
    padding-top: 20px;
}
.dv3.vinir-ideal-for {
    background-size: auto 100%;
    padding-bottom: 30px;
}