@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('helveticaneuecyr-bold-webfont.eot');
    src: url('helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('helveticaneuecyr-medium-webfont.eot');
    src: url('helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-medium-webfont.woff') format('woff'),
         url('helveticaneuecyr-medium-webfont.ttf') format('truetype'),
         url('helveticaneuecyr-medium-webfont.svg#helveticaneuecyrmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('helveticaneuecyr-light-webfont.eot');
    src: url('helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-light-webfont.woff') format('woff'),
         url('helveticaneuecyr-light-webfont.ttf') format('truetype'),
         url('helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('helveticaneuecyr-roman-webfont.eot');
    src: url('helveticaneuecyr-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('helveticaneuecyr-roman-webfont.woff') format('woff'),
         url('helveticaneuecyr-roman-webfont.ttf') format('truetype'),
         url('helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman') format('svg');
    font-weight: 400;
    font-style: normal
}